.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 300px;
}
.form input{
    height: 20px;
}
.form label {
    margin-top: 15px;
}
.form button {
    margin-top: 20px;
    background-color: white;
    border-radius: 6px;
    color: black;
    height: 25px;
    font-weight: 700;
}

.form span{
    color: red;
}