body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: white;
  flex-direction: column;
}
a {
  color: inherit;
  text-decoration: none;
}
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}

.flex {
  display: flex;
  gap: 8px;
}

button {
  background-color: transparent;
  color: white;
  border: unset;
}
.dark-btn{
  color: black;
  background-color: white;
  height: 40px;
  width: 10%;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 16px;
  font-weight: bold;
}
.light-btn{
  color: white;
  background-color: black;
  height: 40px;
  width: 10%;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 16px;
  font-weight: bold;
}
.dark-mode{
  color: white!important;
}
.light-mode{
  color: black!important;
}
.link-dark {
  color: white;
  text-align: center;
  margin: 0 auto;
  transition: filter 300ms;
  border: 1px solid white;
  width: fit-content;
  padding: 1rem;
  border-width: 8px;
}

.link-dark:hover {
  filter: drop-shadow(0px 0px 24px #fff);
}
.link-light {
  color: black;
  text-align: center;
  margin: 0 auto;
  transition: filter 300ms;
  border: 1px solid rgb(0, 0, 0);
  width: fit-content;
  padding: 1rem;
  border-width: 8px;
}

.link-light:hover {
  filter: drop-shadow(0px 0px 24px #000000);
}

.dark-lang-btn{
  color: black;
  background-color: white;
  height: 40px;
  width: 10%;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 16px;
  font-weight: bold;
}
.light-lang-btn{
  color: white;
  background-color: black;
  height: 40px;
  width: 10%;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 16px;
  font-weight: bold;
}
